[color]
	ui=true
	interactive=true
[merge]
	tool = vimdiff
[push]
	default = simple
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[core]
	editor = vim
	preloadindex = true
	fscache = true
[commit]
	template = ~/.gitmessage
[gc]
	auto = 256
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[rebase]
	autostash = true
[user]
	name = Felipe Flores
	email = felipeguilhermefs@gmail.com
[gpg]
	program = gpg
[pager]
	branch = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
