[alias]
	co = checkout
	dev = checkout develop
	mas = checkout master
	ci = commit
	cp = cherry-pick
	lg = log --oneline --decorate
	st = status -uno
	amend = commit --amend
	br = branch
	unstage = reset HEAD
	tree = log --oneline --decorate --graph
	ticket = log --no-merges --oneline --format="%s" --grep="#[0-9]"
	pullup = pull upstream
	pushor = push origin
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	cmp = cherry -v
[color]
	ui=true
	interactive=true
[color "branch"]
	current=green bold
	local=yellow bold
	remote=cyan bold
[color "diff"]
	meta=yellow bold
	frag=magenta bold
	old=red bold
	new=green bold
	whitespace=white reverse
[color "status"]
	added=green bold
	changed=yellow bold
	untracked=red bold
	branch=cyan bold
[push]
	default = simple
[branch]
	autosetuprebase = always
